<!-- 顶部工具栏 -->
<div class="alert alert-secondary d-flex justify-content-between align-items-center mb-4">
<span>
    <i class="fas fa-info-circle"></i> 
    <%= theme.site.description %>
</span>
</div>